<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Download Excel File</title>
</head>
<body>

<h2>Download Excel File</h2>


<form action="/download" method="post">
  <label for="fileName">Enter File Name:</label>
  <input type="text" id="fileName" name="fileName"><br><br>

  <label for="date">Enter Date:</label>
  <input type="text" id="date" name="date"><br><br>

  <label for="time">Enter Time:</label>
  <input type="text" id="time" name="time"><br><br>

  <button type="submit">Download Excel File</button>
</form>

</body>
</html>
